# EDA


- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [1]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import functions_variables as fv
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Data Importing

In [2]:
# load one file first to see what type of data you're dealing with and what attributes it has
with open('..\data\AK_Juneau_4.json', 'r') as f:
    data = json.load(f)
#show me the data
pprint(data)
#create a data frame to see what the information is
testing_df = pd.DataFrame(data['data']['results'])

{'data': {'count': 4,
          'results': [{'branding': [{'name': None,
                                     'photo': None,
                                     'type': 'Office'}],
                       'community': None,
                       'description': {'baths': None,
                                       'baths_1qtr': None,
                                       'baths_3qtr': None,
                                       'baths_full': None,
                                       'baths_half': None,
                                       'beds': None,
                                       'garage': None,
                                       'lot_sqft': None,
                                       'name': None,
                                       'sold_date': '2023-08-21',
                                       'sold_price': None,
                                       'sqft': None,
                                       'stories': None,
                                       'sub_type': None,
                                       'type': None,
                                       'year_built': None},
                       'flags': {'is_coming_soon': None,
                                 'is_contingent': None,
                                 'is_for_rent': None,
                                 'is_foreclosure': None,
                                 'is_new_construction': None,
                                 'is_new_listing': None,
                                 'is_pending': None,
                                 'is_plan': None,
                                 'is_price_reduced': None,
                                 'is_subdivision': None},
                       'last_update_date': None,
                       'lead_attributes': {'show_contact_an_agent': True},
                       'list_date': None,
                       'list_price': None,
                       'listing_id': None,
                       'location': {'address': {'city': 'Juneau',
                                                'coordinate': None,
                                                'line': '9951 Stephen Richards '
                                                        'Memorial Dr',
                                                'postal_code': '99801',
                                                'state': 'Alaska',
                                                'state_code': 'AK'},
                                    'county': {'fips_code': None,
                                               'name': 'Juneau'},
                                    'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9951%20Stephen%20Richards%20Memorial%20Dr%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=al_a0xZ7J3DLCuNg4YDdfq3TZKE='},
                       'matterport': False,
                       'open_houses': None,
                       'other_listings': {'rdc': [{'listing_id': '2958924367',
                                                   'listing_key': None,
                                                   'primary': None,
                                                   'status': 'sold'}]},
                       'permalink': '9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99801_M95216-39574',
                       'photos': None,
                       'price_reduced_amount': None,
                       'primary_photo': None,
                       'products': None,
                       'property_id': '9521639574',
                       'source': None,
                       'status': 'sold',
                       'tags': None,
                       'virtual_tours': None},
                      {'branding': [{'name': 'Platinum Keller Williams Realty '
                                             'Alaska Group',
                                     'photo': None,
                                     'type': 'Office'}],
                       'community': None,
                       'description': {'baths': 1,
                                       'baths_1qtr': None,
                                       'baths_3qtr': None,
                                       'baths_full': 1,
                                       'baths_half': None,
                                       'beds': 2,
                                       'garage': None,
                                       'lot_sqft': None,
                                       'name': None,
                                       'sold_date': '2023-08-04',
                                       'sold_price': None,
                                       'sqft': 950,
                                       'stories': None,
                                       'sub_type': 'condo',
                                       'type': 'condos',
                                       'year_built': 1969},
                       'flags': {'is_coming_soon': None,
                                 'is_contingent': None,
                                 'is_for_rent': None,
                                 'is_foreclosure': None,
                                 'is_new_construction': None,
                                 'is_new_listing': False,
                                 'is_pending': None,
                                 'is_plan': None,
                                 'is_price_reduced': None,
                                 'is_subdivision': None},
                       'last_update_date': '2023-08-04T22:49:14Z',
                       'lead_attributes': {'show_contact_an_agent': True},
                       'list_date': '2023-08-21T21:01:22.000000Z',
                       'list_price': 415000,
                       'listing_id': '2958925334',
                       'location': {'address': {'city': 'Juneau',
                                                'coordinate': {'lat': 58.386651,
                                                               'lon': -134.649067},
                                                'line': '11909 Glacier Hwy Apt '
                                                        '105',
                                                'postal_code': '99801',
                                                'state': 'Alaska',
                                                'state_code': 'AK'},
                                    'county': {'fips_code': None,
                                               'name': 'Juneau'},
                                    'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=11909%20Glacier%20Hwy%20Apt%20105%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=cokn0o0X46-BL_yReSTViMXMYh4='},
                       'matterport': False,
                       'open_houses': None,
                       'other_listings': {'rdc': [{'listing_id': '2958925334',
                                                   'listing_key': None,
                                                   'primary': None,
                                                   'status': 'sold'}]},
                       'permalink': '11909-Glacier-Hwy-Apt-105_Juneau_AK_99801_M74123-09719',
                       'photos': None,
                       'price_reduced_amount': None,
                       'primary_photo': None,
                       'products': {'brand_name': 'basic_opt_in'},
                       'property_id': '7412309719',
                       'source': {'agents': [{'office_name': 'Platinum Keller '
                                                             'Williams Realty '
                                                             'Alaska Group'},
                                             {'office_name': 'Platinum Keller '
                                                             'Williams Realty '
                                                             'Alaska Group'}],
                                  'plan_id': None,
                                  'spec_id': None,
                                  'type': 'mls'},
                       'status': 'sold',
                       'tags': ['carport',
                                'hill_or_mountain_view',
                                'ocean_view',
                                'single_story',
                                'waterfront',
                                'open_floor_plan',
                                'floor_plan',
                                'rental_property',
                                'furniture',
                                'new_roof',
                                'beach'],
                       'virtual_tours': None},
                      {'branding': [{'name': 'Southeast Alaska Real Estate',
                                     'photo': None,
                                     'type': 'Office'}],
                       'community': None,
                       'description': {'baths': 3,
                                       'baths_1qtr': None,
                                       'baths_3qtr': None,
                                       'baths_full': 3,
                                       'baths_half': None,
                                       'beds': 5,
                                       'garage': 2,
                                       'lot_sqft': 5875,
                                       'name': None,
                                       'sold_date': '2023-08-03',
                                       'sold_price': None,
                                       'sqft': 3860,
                                       'stories': None,
                                       'sub_type': None,
                                       'type': 'single_family',
                                       'year_built': 1920},
                       'flags': {'is_coming_soon': None,
                                 'is_contingent': None,
                                 'is_for_rent': None,
                                 'is_foreclosure': None,
                                 'is_new_construction': None,
                                 'is_new_listing': False,
                                 'is_pending': None,
                                 'is_plan': None,
                                 'is_price_reduced': None,
                                 'is_subdivision': None},
                       'last_update_date': '2023-08-04T21:31:44Z',
                       'lead_attributes': {'show_contact_an_agent': True},
                       'list_date': '2023-08-21T21:01:22.000000Z',
                       'list_price': 835000,
                       'listing_id': '2958924095',
                       'location': {'address': {'city': 'Juneau',
                                                'coordinate': {'lat': 58.304573,
                                                               'lon': -134.403991},
                                                'line': '808 5th St',
                                                'postal_code': '99801',
                                                'state': 'Alaska',
                                                'state_code': 'AK'},
                                    'county': {'fips_code': None,
                                               'name': 'Juneau'},
                                    'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=808%205th%20St%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=tV-uGGz9zKJiafcI3GDfgu9GV_I='},
                       'matterport': False,
                       'open_houses': None,
                       'other_listings': {'rdc': [{'listing_id': '2958924095',
                                                   'listing_key': None,
                                                   'primary': None,
                                                   'status': 'sold'},
                                                  {'listing_id': '2941727948',
                                                   'listing_key': None,
                                                   'primary': None,
                                                   'status': 'off_market'},
                                                  {'listing_id': '2641864483',
                                                   'listing_key': None,
                                                   'primary': None,
                                                   'status': 'off_market'}]},
                       'permalink': '808-5th-St_Juneau_AK_99801_M76604-90777',
                       'photos': None,
                       'price_reduced_amount': None,
                       'primary_photo': None,
                       'products': {'brand_name': 'essentials'},
                       'property_id': '7660490777',
                       'source': {'agents': [{'office_name': 'Southeast Alaska '
                                                             'Real Estate'},
                                             {'office_name': 'Platinum Keller '
                                                             'Williams Realty '
                                                             'Alaska Group'}],
                                  'plan_id': None,
                                  'spec_id': None,
                                  'type': 'mls'},
                       'status': 'sold',
                       'tags': ['city_view',
                                'community_outdoor_space',
                                'community_security_features',
                                'corner_lot',
                                'hill_or_mountain_view',
                                'lake_view',
                                'ocean_view',
                                'river_view',
                                'spa_or_hot_tub',
                                'garage_1_or_more',
                                'garage_2_or_more',
                                'two_or_more_stories',
                                'vaulted_ceiling',
                                'media_room',
                                'ensuite',
                                'private_courtyard',
                                'trails'],
                       'virtual_tours': None},
                      {'branding': [{'name': None,
                                     'photo': None,
                                     'type': 'Office'}],
                       'community': None,
                       'description': {'baths': 2,
                                       'baths_1qtr': None,
                                       'baths_3qtr': None,
                                       'baths_full': 2,
                                       'baths_half': None,
                                       'beds': 3,
                                       'garage': None,
                                       'lot_sqft': 7476,
                                       'name': None,
                                       'sold_date': '2023-07-21',
                                       'sold_price': None,
                                       'sqft': 1375,
                                       'stories': 1,
                                       'sub_type': None,
                                       'type': 'mobile',
                                       'year_built': 2002},
                       'flags': {'is_coming_soon': None,
                                 'is_contingent': None,
                                 'is_for_rent': None,
                                 'is_foreclosure': None,
                                 'is_new_construction': None,
                                 'is_new_listing': None,
                                 'is_pending': None,
                                 'is_plan': None,
                                 'is_price_reduced': None,
                                 'is_subdivision': None},
                       'last_update_date': '2023-12-07',
                       'lead_attributes': {'show_contact_an_agent': True},
                       'list_date': None,
                       'list_price': None,
                       'listing_id': None,
                       'location': {'address': {'city': 'Juneau',
                                                'coordinate': {'lat': 58.396178,
                                                               'lon': -134.553717},
                                                'line': '4446 Trafalgar Ave',
                                                'postal_code': '99801',
                                                'state': 'Alaska',
                                                'state_code': 'AK'},
                                    'county': {'fips_code': None,
                                               'name': 'Juneau'},
                                    'street_view_url': 'https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=4446%20Trafalgar%20Ave%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=V24OM91aZHY5-heG-dKObuuYh4c='},
                       'matterport': False,
                       'open_houses': None,
                       'other_listings': None,
                       'permalink': '4446-Trafalgar-Ave_Juneau_AK_99801_M82741-21172',
                       'photos': None,
                       'price_reduced_amount': None,
                       'primary_photo': None,
                       'products': None,
                       'property_id': '8274121172',
                       'source': None,
                       'status': 'sold',
                       'tags': None,
                       'virtual_tours': None}],
          'total': 8},
 'status': 200}

 - After looking through the file we can deduce all the information we need is inside ['data']['results']

In [3]:
# loop over all files and put them into a dataframe
#Create the variables we will use to loop the data
folder_name = '..\data'
filenames = os.listdir(folder_name)
df = pd.DataFrame()
empty_files = []
#Iterate through every data file we have
for file in filenames:
    #ensure files are "json" files
    if file.endswith(".json"):
        file_path = os.path.join(folder_name, file)

        with open(file_path, 'r') as f:
            try:
                data = json.load(f)
                #create a small dataframe which we will add onto the large one
                small_df = pd.DataFrame(data['data']['results'])
                # print(file, "Loaded Sucessfully") - for testing purposes
                #add the new data to the bottom of our dataframe
                if small_df.empty:
                    # print("file is empty:", file)
                    empty_files.append(file)
                else:
                    df = pd.concat([df, small_df], ignore_index = True)
            except json.JSONDecodeError as e:
                #print if there was an error
                print("Error Decoding file:", e, file)
    else:
        #print out any files that are not part of it
        print("Not a Json:", file)
            
df.head()

Not a Json: .gitkeep

C:\Users\finch\AppData\Local\Temp\ipykernel_27440\2688945753.py:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, small_df], ignore_index = True)

Not a Json: license.txt
Not a Json: processed
Not a Json: uscities.csv

,primary_photo,last_update_date,source,tags,permalink,status,list_date,open_houses,description,branding,...,photos,flags,community,products,virtual_tours,other_listings,listing_id,price_reduced_amount,location,matterport
0,{'href': 'https://ap.rdcpix.com/07097d34c98a59...,2023-09-19T20:52:50Z,"{'plan_id': None, 'agents': [{'office_name': '...","[carport, community_outdoor_space, cul_de_sac,...",9453-Herbert-Pl_Juneau_AK_99801_M90744-30767,sold,2023-06-29T21:16:25.000000Z,None,"{'year_built': 1963, 'baths_3qtr': None, 'sold...","[{'name': 'EXP Realty LLC - Southeast Alaska',...",...,"[{'tags': [{'label': 'house_view', 'probabilit...","{'is_new_construction': None, 'is_for_rent': N...",None,{'brand_name': 'basic_opt_in'},None,"{'rdc': [{'listing_id': '2957241843', 'listing...",2957241843,45000.0,"{'address': {'postal_code': '99801', 'state': ...",False
1,None,None,None,None,8477-Thunder-Mountain-Rd_Juneau_AK_99801_M9424...,sold,None,None,"{'year_built': None, 'baths_3qtr': None, 'sold...","[{'name': None, 'photo': None, 'type': 'Office'}]",...,None,"{'is_new_construction': None, 'is_for_rent': N...",None,None,None,"{'rdc': [{'listing_id': '2958935271', 'listing...",None,NaN,"{'address': {'postal_code': '99801', 'state': ...",False
2,None,None,None,None,4515-Glacier-Hwy_Juneau_AK_99801_M94790-68516,sold,None,None,"{'year_built': None, 'baths_3qtr': None, 'sold...","[{'name': None, 'photo': None, 'type': 'Office'}]",...,None,"{'is_new_construction': None, 'is_for_rent': N...",None,None,None,"{'rdc': [{'listing_id': '2958935192', 'listing...",None,NaN,"{'address': {'postal_code': '99801', 'state': ...",False
3,None,None,None,None,17850-Point-Stephens-Rd_Juneau_AK_99801_M98793...,sold,None,None,"{'year_built': None, 'baths_3qtr': None, 'sold...","[{'name': None, 'photo': None, 'type': 'Office'}]",...,None,"{'is_new_construction': None, 'is_for_rent': N...",None,None,None,"{'rdc': [{'listing_id': '2958925235', 'listing...",None,NaN,"{'address': {'postal_code': '99801', 'state': ...",False
4,None,None,None,None,9951-Stephen-Richards-Memorial-Dr_Juneau_AK_99...,sold,None,None,"{'year_built': None, 'baths_3qtr': None, 'sold...","[{'name': None, 'photo': None, 'type': 'Office'}]",...,None,"{'is_new_construction': None, 'is_for_rent': N...",None,None,None,"{'rdc': [{'listing_id': '2958924367', 'listing...",None,NaN,"{'address': {'postal_code': '99801', 'state': ...",False

In [4]:
empty_files
#manually went through and checked a chunk of these files to ensure they are empty and wasn't an error on my coding part.

['HI_Honolulu_3.json',
 'HI_Honolulu_4.json',
 'ME_Augusta_0.json',
 'ME_Augusta_1.json',
 'ME_Augusta_2.json',
 'ME_Augusta_3.json',
 'ME_Augusta_4.json',
 'MS_Jackson_0.json',
 'MS_Jackson_1.json',
 'MS_Jackson_2.json',
 'MS_Jackson_3.json',
 'MS_Jackson_4.json',
 'ND_Bismarck_2.json',
 'ND_Bismarck_3.json',
 'ND_Bismarck_4.json',
 'NH_Concord_3.json',
 'NH_Concord_4.json',
 'SD_Pierre_0.json',
 'SD_Pierre_1.json',
 'SD_Pierre_2.json',
 'SD_Pierre_3.json',
 'SD_Pierre_4.json',
 'VT_Montpelier_0.json',
 'VT_Montpelier_1.json',
 'VT_Montpelier_2.json',
 'VT_Montpelier_3.json',
 'VT_Montpelier_4.json',
 'WY_Cheyenne_0.json',
 'WY_Cheyenne_1.json',
 'WY_Cheyenne_2.json',
 'WY_Cheyenne_3.json',
 'WY_Cheyenne_4.json']

## Data Cleaning and Wrangling

At this point, ensure that you have all sales in a dataframe.
- Take a quick look at your data (i.e. `.info()`, `.describe()`) - what do you see?
- Is each cell one value, or do some cells have lists?
- What are the data types of each column?
- Some sales may not actually include the sale price (target).  These rows should be dropped.
- There are a lot of NA/None values.  Should these be dropped or replaced with something?
    - You can drop rows or use various methods to fills NA's - use your best judgement for each column 
    - i.e. for some columns (like Garage), NA probably just means no Garage, so 0
- Drop columns that aren't needed
    - Don't keep the list price because it will be too close to the sale price. Assume we want to predict the price of houses not yet listed

In [5]:
# load and concatenate data here
# drop or replace values as necessary

In [6]:
df.info() # looks like we only actually want the information in "location", "tags", "property_id" and "description"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8159 entries, 0 to 8158
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   primary_photo         7403 non-null   object
 1   last_update_date      8125 non-null   object
 2   source                7752 non-null   object
 3   tags                  7638 non-null   object
 4   permalink             8159 non-null   object
 5   status                8159 non-null   object
 6   list_date             7752 non-null   object
 7   open_houses           0 non-null      object
 8   description           8159 non-null   object
 9   branding              8159 non-null   object
 10  list_price            7721 non-null   float64
 11  lead_attributes       8159 non-null   object
 12  property_id           8159 non-null   object
 13  photos                7403 non-null   object
 14  flags                 8159 non-null   object
 15  community             5 non-null      object
 16  products              7673 non-null   object
 17  virtual_tours         1351 non-null   object
 18  other_listings        7856 non-null   object
 19  listing_id            7752 non-null   object
 20  price_reduced_amount  2484 non-null   float64
 21  location              8159 non-null   object
 22  matterport            8159 non-null   bool
dtypes: bool(1), float64(2), object(20)
memory usage: 1.4+ MB

In [7]:
df.describe()

         list_price  price_reduced_amount
count  7.721000e+03          2.484000e+03
mean   4.341582e+05          2.442704e+04
std    5.514925e+05          7.162396e+04
min    1.000000e+00          1.000000e+02
25%    2.090000e+05          6.000000e+03
50%    3.250000e+05          1.010000e+04
75%    4.999000e+05          2.000000e+04
max    1.250000e+07          2.015999e+06

In [8]:
#lets make a full list of columns we want to get rid of:
print("columns before drop:", list(df.columns))
columns_to_drop = ['primary_photo',
                   'last_update_date',
                     'source', 
                      'permalink',
                        'status',
                          'list_date',
                           'open_houses',
                            'branding',
                             'list_price',
                              'lead_attributes',
                                'photos',
                                'virtual_tours',
                                'other_listings',
                                 'listing_id',
                                  'price_reduced_amount',
                                   'matterport',
                                    'sold_date',
                                     'products',
                                      'street_view_url',
                                       'community',
                                        'county',
                                         'line',
                                           'flags',
                                            'name',
                                             'baths_1qtr',
                                              'sub_type',
                                               'baths_full',
                                                'baths_half',
                                                 'baths_3qtr',
                                                  'state_code']

columns before drop: ['primary_photo', 'last_update_date', 'source', 'tags', 'permalink', 'status', 'list_date', 'open_houses', 'description', 'branding', 'list_price', 'lead_attributes', 'property_id', 'photos', 'flags', 'community', 'products', 'virtual_tours', 'other_listings', 'listing_id', 'price_reduced_amount', 'location', 'matterport']

 - The Description column has nested information so we are going to use our break_it_down function we have written to correct that

In [9]:
#description column is nested, lets pull it out and put it back in all split up nice and pretty

desc_df = fv.break_it_down(df['description'])
columns_to_drop.append('description')
df[desc_df.columns] = desc_df
df[desc_df.columns]

,year_built,baths_3qtr,sold_date,sold_price,baths_full,name,baths_half,lot_sqft,sqft,baths,sub_type,baths_1qtr,garage,stories,beds,type
0,1963,None,2023-09-18,None,2,None,None,10454,1821,2,None,None,1,None,3,single_family
1,None,None,2023-08-22,None,None,None,None,None,None,None,None,None,None,None,None,None
2,None,None,2023-08-22,None,None,None,None,None,None,None,None,None,None,None,None,None
3,None,None,2023-08-21,None,None,None,None,None,None,None,None,None,None,None,None,None
4,None,None,2023-08-21,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8154,1910,None,2023-07-27,99000,1,None,None,4792,1214,1,None,None,1,2,3,single_family
8155,None,None,2023-07-27,29700,1,None,None,7841,988,1,None,None,None,None,3,single_family
8156,None,None,2023-07-24,162250,1,None,None,65340,1470,1,None,None,None,None,3,single_family
8157,None,None,2023-07-24,63800,None,None,None,None,None,0,None,None,None,None,0,single_family
8158,1950,None,2023-07-21,115500,2,None,None,52272,3858,2,None,None,None,None,3,single_family

 - Similar we will do the same to the location column

In [10]:
#lets do the same with the "location column"
loc_df = fv.break_it_down(df['location'])
columns_to_drop.append('location')
df[loc_df.columns] = loc_df
df[loc_df.columns]

,address,street_view_url,county
0,"{'postal_code': '99801', 'state': 'Alaska', 'c...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': None, 'name': 'Juneau'}"
1,"{'postal_code': '99801', 'state': 'Alaska', 'c...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': None, 'name': 'Juneau'}"
2,"{'postal_code': '99801', 'state': 'Alaska', 'c...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': None, 'name': 'Juneau'}"
3,"{'postal_code': '99801', 'state': 'Alaska', 'c...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': None, 'name': 'Juneau'}"
4,"{'postal_code': '99801', 'state': 'Alaska', 'c...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': None, 'name': 'Juneau'}"
...,...,...,...
8154,"{'postal_code': '25314', 'state': 'West Virgin...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': '54039', 'name': 'Kanawha'}"
8155,"{'postal_code': '25387', 'state': 'West Virgin...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': '54039', 'name': 'Kanawha'}"
8156,"{'postal_code': '25314', 'state': 'West Virgin...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': '54039', 'name': 'Kanawha'}"
8157,"{'postal_code': '25302', 'state': 'West Virgin...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': '54039', 'name': 'Kanawha'}"
8158,"{'postal_code': '25302', 'state': 'West Virgin...",https://maps.googleapis.com/maps/api/streetvie...,"{'fips_code': '54039', 'name': 'Kanawha'}"

 - We can see address is still nested so lets break that down as well

In [11]:
#unfortunately "address" is still nested
address_df = fv.break_it_down(df['address'])
columns_to_drop.append('address')
df[address_df.columns] = address_df
df[address_df.columns]

,postal_code,state,coordinate,city,state_code,line
0,99801,Alaska,"{'lon': -134.59372, 'lat': 58.36395}",Juneau,AK,9453 Herbert Pl
1,99801,Alaska,None,Juneau,AK,8477 Thunder Mountain Rd
2,99801,Alaska,None,Juneau,AK,4515 Glacier Hwy
3,99801,Alaska,None,Juneau,AK,17850 Point Stephens Rd
4,99801,Alaska,None,Juneau,AK,9951 Stephen Richards Memorial Dr
...,...,...,...,...,...,...
8154,25314,West Virginia,"{'lon': -81.644994, 'lat': 38.341576}",Charleston,WV,1008 Oakmont Rd
8155,25387,West Virginia,"{'lon': -81.661662, 'lat': 38.377371}",Charleston,WV,1041 Temple St
8156,25314,West Virginia,"{'lon': -81.659885, 'lat': 38.338617}",Charleston,WV,238 Oakwood Rd
8157,25302,West Virginia,"{'lon': -81.644214, 'lat': 38.363038}",Charleston,WV,408 Lee St W
8158,25302,West Virginia,"{'lon': -81.640806, 'lat': 38.377955}",Charleston,WV,625 Wood Rd

 - Lastly on that one coordinates are also still nested, lets break them down.

In [12]:
coordinate_df = fv.break_it_down(df['coordinate'])
columns_to_drop.append('coordinate')
df[coordinate_df.columns] = coordinate_df
df[coordinate_df.columns]

            lon        lat
0    -134.59372   58.36395
1          None       None
2          None       None
3          None       None
4          None       None
...         ...        ...
8154 -81.644994  38.341576
8155 -81.661662  38.377371
8156 -81.659885  38.338617
8157 -81.644214  38.363038
8158 -81.640806  38.377955

[8159 rows x 2 columns]

 - Now we need to get rid of all the columns we don't need as well as drop any rows that have a null in the sold price

In [13]:
#lets get rid of everything without a sold price
df = df.dropna(subset=['sold_price'])


df = df.drop(columns=columns_to_drop, axis=1)
print("columns after drops:", list(df.columns))

columns after drops: ['tags', 'property_id', 'year_built', 'sold_price', 'lot_sqft', 'sqft', 'baths', 'garage', 'stories', 'beds', 'type', 'postal_code', 'state', 'city', 'lon', 'lat']

 - Lets get into some feature engineering! \
-- easy one first, we need to fill in any place with a null for garage as a 0

In [14]:
#lets fill some NAN values, start with garage and the nones we can assume to be 0
df['garage'] = df['garage'].fillna(0)

C:\Users\finch\AppData\Local\Temp\ipykernel_27440\2929791202.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['garage'] = df['garage'].fillna(0)

- now we have some missing Longitude and Latitudes, we are going to replace those with an average longitude/latitude taken from the city they are in.

In [15]:
# lets take the average latitude and longitude for each city 
lon_lat_dict = df[['city', 'lon', 'lat']].groupby('city').mean().transpose().to_dict()
# lets fill those latitude and longitude back into the dataframe for each city

df = fv.item_replacement(lon_lat_dict, df, 'city', 'lon', 'lat')
df[df['lon'].isnull()].shape

(22, 16)

 - We still have 22 missing rows, fortunately they all boil down to 3 cities, a quick google search and I will use the lat/lon for those cities

In [16]:
missing_property_dict = {'Boone': {'lon': -93.885490, 'lat': 42.060650},
                'Garnett': {'lon': 81.2454, 'lat': 32.6063},
                'Charlton Heights': {'lon': -81.24385, 'lat': 38.13673}}
df = fv.item_replacement(missing_property_dict, df, 'city', 'lon', 'lat')
df[df['lon'].isnull()].shape

(0, 16)

 - Next we will be renaming the latitude and longituded columns as "property_lat" and "property_lon" \
  -- next we will look at cities

In [17]:
#change the name of the lat/lon column to 
df = df.rename(columns={'lat':'property_lat', 'lon': 'property_lon'})
df[df['city'].isnull()]

,tags,property_id,year_built,sold_price,lot_sqft,sqft,baths,garage,stories,beds,type,postal_code,state,city,property_lon,property_lat
5624,"[central_air, dishwasher, fireplace, forced_ai...",9712785298,1971,470000,34404,1618,2,2,1,3,single_family,43235,Ohio,None,-83.081039,40.102921
5665,"[central_air, dishwasher, fireplace, forced_ai...",9712785298,1971,470000,34404,1618,2,2,1,3,single_family,43235,Ohio,None,-83.081039,40.102921
5706,"[central_air, dishwasher, fireplace, forced_ai...",9712785298,1971,470000,34404,1618,2,2,1,3,single_family,43235,Ohio,None,-83.081039,40.102921
5747,"[central_air, dishwasher, fireplace, forced_ai...",9712785298,1971,470000,34404,1618,2,2,1,3,single_family,43235,Ohio,None,-83.081039,40.102921
5788,"[central_air, dishwasher, fireplace, forced_ai...",9712785298,1971,470000,34404,1618,2,2,1,3,single_family,43235,Ohio,None,-83.081039,40.102921

 - good news, it is just the one city missing so again with a quick google of that lon/lat we can see that is Columbus Ohio

In [18]:
df['city'] = df['city'].fillna('Columbus')
df[df['city'].isnull()]

Empty DataFrame
Columns: [tags, property_id, year_built, sold_price, lot_sqft, sqft, baths, garage, stories, beds, type, postal_code, state, city, property_lon, property_lat]
Index: []

Next up is the "Type" Column, it has a few quick spelling things we are going to look at first

In [19]:
print(df['type'].unique())
df['type'].value_counts()

['single_family' 'land' 'townhomes' 'multi_family' 'apartment' 'mobile'
 'condos' 'condo' None 'other' 'duplex_triplex'
 'condo_townhome_rowhome_coop']

type
single_family                  4514
condos                          656
townhomes                       486
multi_family                    486
land                            316
mobile                          146
condo                            52
apartment                        20
other                            10
duplex_triplex                    5
condo_townhome_rowhome_coop       5
Name: count, dtype: int64

 - we will replace "other" with "land" and "condos" with "condo" as well as filling the empty cells with "land" \
   -- we will also drop the "condo_townhome_rowhome_coop" and "duplex_triplex" rows as when we remove the duplicates later we discover there is only one of each of those

In [20]:
type_mapping = {'other': 'land',
                'condos': 'condo',
                np.nan : 'land',
                }
df['type'] = df['type'].replace(type_mapping)
df = df[(df['type'] != 'condo_townhome_rowhome_coop') & (df['type'] != 'duplex_triplex')]
print(df['type'].unique())
df['type'].value_counts()

['single_family' 'land' 'townhomes' 'multi_family' 'apartment' 'mobile'
 'condo']

type
single_family    4514
condo             708
townhomes         486
multi_family      486
land              346
mobile            146
apartment          20
Name: count, dtype: int64

 - We are going to adjust all 'year_built', 'sqft', 'baths', 'stories', 'beds' all to 0 for the 'land' types (as they obviously would not have anything on them)

In [21]:
#lets change the 'year_built', 'sqft', 'baths', 'stories', 'beds' all to 0 for the 'land' types
to_change_list = ['year_built', 'sqft', 'baths', 'stories', 'beds']
for col in to_change_list:
    df.loc[(df['type'] == 'land') & (df[col].isna()), col] = 0 

df[df['type'] == 'land']

,tags,property_id,year_built,sold_price,lot_sqft,sqft,baths,garage,stories,beds,type,postal_code,state,city,property_lon,property_lat
40,"[horse_facilities, rental_property, big_lot, p...",9371305836,0,370000,3397680,0,0,0,0,0,land,36105,Alabama,Montgomery,-86.220291,32.155112
81,"[horse_facilities, rental_property, big_lot, p...",9371305836,0,370000,3397680,0,0,0,0,0,land,36105,Alabama,Montgomery,-86.220291,32.155112
121,"[horse_facilities, rental_property, big_lot, p...",9371305836,0,370000,3397680,0,0,0,0,0,land,36105,Alabama,Montgomery,-86.220291,32.155112
162,"[horse_facilities, rental_property, big_lot, p...",9371305836,0,370000,3397680,0,0,0,0,0,land,36105,Alabama,Montgomery,-86.220291,32.155112
203,"[horse_facilities, rental_property, big_lot, p...",9371305836,0,370000,3397680,0,0,0,0,0,land,36105,Alabama,Montgomery,-86.220291,32.155112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8144,[big_lot],3233095968,0,308,6098,0,0,0,0,0,land,25304,West Virginia,Charleston,-81.571146,38.306225
8145,[big_lot],3632053777,0,1122,11761,0,0,0,0,0,land,25306,West Virginia,Charleston,-81.498337,38.331983
8146,[big_lot],9021324566,0,583,73181,0,0,0,0,0,land,25311,West Virginia,Charleston,-81.625893,38.355711
8147,[big_lot],9577608280,0,2585,18295,0,0,0,0,0,land,25313,West Virginia,Charleston,-81.625893,38.355711
8150,"[big_lot, river_access]",3853468411,0,22000,8276,0,0,0,0,0,land,25304,West Virginia,Charleston,-81.569243,38.318442

 - lets fill the missing year's built column with the mean from that column with no better method to fill

In [22]:
mean_year = df['year_built'].mean().astype(int)
print(mean_year)
df['year_built'] = df['year_built'].fillna(mean_year)

1860

C:\Users\finch\AppData\Local\Temp\ipykernel_27440\1073004741.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['year_built'] = df['year_built'].fillna(mean_year)

 - Next we will look at fillings beds and baths, we will take an average of the amount of beds and baths depending on the type of the building and fill that back in

In [23]:
bed_bath_dict = df[['type', 'beds', 'baths']].groupby('type').mean().astype(int).transpose().to_dict()

df = fv.item_replacement(bed_bath_dict, df, 'type', 'beds','baths')
df[df['beds'].isnull() & df['baths'].isnull()]

Empty DataFrame
Columns: [tags, property_id, year_built, sold_price, lot_sqft, sqft, baths, garage, stories, beds, type, postal_code, state, city, property_lon, property_lat]
Index: []

 - We have some nulls in the stories column, lets fill those in with a 1, as everything with more than 1 story should be filled already and all the "land" types have already been filled as a 0, we are also assigning the  column as an 'int' column to avoid some futureproofing issues

In [24]:
df['stories'] = df['stories'].fillna(1)

C:\Users\finch\AppData\Local\Temp\ipykernel_27440\1798591877.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['stories'] = df['stories'].fillna(1)

 - we are going to take a similar approach for sqft and lot_sqft, except this time we will take an average across the city and the type as different cities would have a different average building size

In [25]:
sqfts_dict = df[['city', 'type', 'sqft', 'lot_sqft']].groupby(['type','city']).mean().transpose().to_dict()

df = fv.sqfts_replacement(sqfts_dict, df)
df[df['sqft'].isnull() & df['lot_sqft'].isnull()]

,tags,property_id,year_built,sold_price,lot_sqft,sqft,baths,garage,stories,beds,type,postal_code,state,city,property_lon,property_lat
2346,[rental_property],9395716123,2016,32900,NaN,NaN,2,0,1,3,mobile,62707,Illinois,Springfield,-89.648263,39.785318
2348,[rental_property],9557243180,1997,12900,NaN,NaN,2,0,1,3,mobile,62707,Illinois,Springfield,-89.588087,39.84781
2351,[rental_property],9461804358,2015,29900,NaN,NaN,2,0,1,3,mobile,62707,Illinois,Springfield,-89.648263,39.785318
2354,[rental_property],9893909070,1994,19900,NaN,NaN,2,0,1,3,mobile,62702,Illinois,Springfield,-89.626747,39.847942
2356,[rental_property],9517334186,1995,18900,NaN,NaN,2,0,1,3,mobile,62702,Illinois,Springfield,-89.626747,39.847942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6683,None,9988039199,1860,51860,NaN,NaN,0,0,1,0,townhomes,29210,South Carolina,Columbia,-81.121758,34.069706
6716,None,9988039199,1860,51860,NaN,NaN,0,0,1,0,townhomes,29210,South Carolina,Columbia,-81.121758,34.069706
6748,None,9988039199,1860,51860,NaN,NaN,0,0,1,0,townhomes,29210,South Carolina,Columbia,-81.121758,34.069706
6779,None,9988039199,1860,51860,NaN,NaN,0,0,1,0,townhomes,29210,South Carolina,Columbia,-81.121758,34.069706
6809,None,9988039199,1860,51860,NaN,NaN,0,0,1,0,townhomes,29210,South Carolina,Columbia,-81.121758,34.069706

 - we still have some left that didn't have eenough data to create thosee averages so we will fill the rest in with an average by type not limited to cities

In [26]:
sqfts_dict_2 = df[['type', 'sqft', 'lot_sqft']].groupby('type').mean().transpose().to_dict()

df = fv.item_replacement(sqfts_dict_2, df, 'type', 'sqft', 'lot_sqft')
df[df['sqft'].isnull() & df['lot_sqft'].isnull()]

Empty DataFrame
Columns: [tags, property_id, year_built, sold_price, lot_sqft, sqft, baths, garage, stories, beds, type, postal_code, state, city, property_lon, property_lat]
Index: []

- in the interest of saving some space and assigning things properly we will assign different columns to different types (int, float, etc.)

In [27]:


#we need to assign datatypes to the columns, so we will make lists of the different types and re-enter them back in.
int_columns = ['year_built', 'sqft', 'lot_sqft', 'baths','garage','stories','beds', 'postal_code']
df[int_columns] = df[int_columns].astype(int)
category_columns = ['type']
df[category_columns] = df[category_columns].astype('category')
float_columns = ['property_lon', 'property_lat']
df[float_columns] = df[float_columns].astype('float64')
df['sold_price'] = df['sold_price'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6706 entries, 30 to 8158
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tags          6320 non-null   object
 1   property_id   6706 non-null   object
 2   year_built    6706 non-null   int32
 3   sold_price    6706 non-null   int32
 4   lot_sqft      6706 non-null   int32
 5   sqft          6706 non-null   int32
 6   baths         6706 non-null   int32
 7   garage        6706 non-null   int32
 8   stories       6706 non-null   int32
 9   beds          6706 non-null   int32
 10  type          6706 non-null   category
 11  postal_code   6706 non-null   int32
 12  state         6706 non-null   object
 13  city          6706 non-null   object
 14  property_lon  6706 non-null   float64
 15  property_lat  6706 non-null   float64
dtypes: category(1), float64(2), int32(9), object(4)
memory usage: 609.4+ KB

### Dealing with Tags

Hitting Tags with the OHE and having the option to drop anything with 5 or less in its column

In [28]:
df = fv.encode_tags(df,min_to_drop=5)

df.shape

(1473, 140)

### Dealing with Cities

we are using Geopy to run through each "city" and "state" and give us the coordinates for them all, it loops through

In [30]:

df = fv.get_downtown_coordinates(df=df,city_col='city',state_col='state')

df = df.drop(['city', 'state'], axis=1)
display(df[df['city_lat'].isnull() & df['city_lon'].isnull()])

Empty DataFrame
Columns: [property_id, year_built, sold_price, lot_sqft, sqft, baths, garage, stories, beds, type, postal_code, property_lon, property_lat, tags_basement, tags_basketball, tags_basketball_court, tags_beach, tags_beautiful_backyard, tags_big_bathroom, tags_big_lot, tags_big_yard, tags_carport, tags_cathedral_ceiling, tags_central_air, tags_central_heat, tags_city_view, tags_clubhouse, tags_coffer_ceiling, tags_community_boat_facilities, tags_community_center, tags_community_clubhouse, tags_community_golf, tags_community_gym, tags_community_outdoor_space, tags_community_park, tags_community_security_features, tags_community_spa_or_hot_tub, tags_community_swimming_pool, tags_community_tennis_court, tags_corner_lot, tags_cul_de_sac, tags_den_or_office, tags_dining_room, tags_disability_features, tags_dishwasher, tags_efficient, tags_elevator, tags_energy_efficient, tags_ensuite, tags_exposed_brick, tags_family_room, tags_farm, tags_fenced_yard, tags_fireplace, tags_fixer_upper, tags_floor_plan, tags_forced_air, tags_front_porch, tags_fruit_trees, tags_furniture, tags_game_room, tags_garage_1_or_more, tags_garage_2_or_more, tags_garage_3_or_more, tags_gated_community, tags_golf_course, tags_golf_course_lot_or_frontage, tags_golf_course_view, tags_gourmet_kitchen, tags_granite_kitchen, tags_greenbelt, tags_groundscare, tags_hardwood_floors, tags_high_ceiling, tags_hill_or_mountain_view, tags_hoa, tags_horse_facilities, tags_investment_opportunity, tags_jack_and_jill_bathroom, tags_kitchen_island, tags_lake, tags_lake_view, tags_large_kitchen, tags_large_porch, tags_laundry_room, tags_library, tags_maintenance, tags_marina, tags_master_bathroom, tags_master_bedroom, tags_master_suite, tags_media_room, tags_medicalcare, tags_modern_kitchen, tags_mountain_view, tags_new_roof, tags_no_hoa, tags_ocean_view, tags_open_floor_plan, tags_open_house, ...]
Index: []

[0 rows x 140 columns]

## Extra Data - STRETCH

> This doesn't need to be part of your Minimum Viable Product (MVP). We recommend you write a functional, basic pipeline first, then circle back and join new data if you have time

> If you do this, try to write your downstream steps in a way it will still work on a dataframe with different features!

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [126]:
# import, join and preprocess new data here

## EDA/ Visualization

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.    
    - Consider transforming very skewed variables
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
    - You may have too many features to do this, in which case you can simply compute the most correlated feature-pairs and list them
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [127]:
# perform EDA here

## Scaling and Finishing Up

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized

In [32]:
X = df.drop('sold_price', axis=1)
y = df['sold_price']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=42)
scaler = StandardScaler()
scaling_columns = int_columns + float_columns
X_train[scaling_columns] = scaler.fit_transform(X_train[scaling_columns])
X_test[scaling_columns] = scaler.transform(X_test[scaling_columns])
#save the data, we will take a full save of it all as both a csv and a pickle so that we have it backed up, then we will also save the X/y train/test data seperately as well.
df.to_csv('../data/processed/data_complete.csv')
df.to_pickle('../data/processed/data_complete.pkl')
X_test.to_pickle('../data/processed/X_test.pkl')
X_train.to_pickle('../data/processed/X_train.pkl')
y_test.to_pickle('../data/processed/y_test.pkl')
y_train.to_pickle('../data/processed/y_train.pkl')